/* common */
@import "reset.css";
@import "variables.css";
/* webfont */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Onest:wght@100..900&display=swap');

/* ---------- global ---------- */
body, a, input, textarea { 
    font-family: 'Onest', 'Pretendard Variable', sans-serif; 
    font-size: var(--fs-def); 
    color: var(--color-def); 
    font-weight: var(--fw-def);
    line-height: 1.8; 
    word-wrap: break-word; 
}
body { 
    animation: fadein 1.65s; 
    -moz-animation: fadein 1.65s;
    -webkit-animation: fadein 1.65s;
    -o-animation: fadein 1.65s;
}
@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes fadein {
    from { opacity:0; }
    to { opacity: 1; }
}

.fs-xs { 
    font-size: var(--fs-xs); 
}
.fs-md { 
    font-size: var(--fs-md);
}
.fs-lg { 
    font-size: var(--fs-lg);
}
.fs-title { 
    font-size: var(--fs-title);
}

.bold {
    font-weight: var(--fw-bold);
}
.boldEx {
    font-weight: var(--fw-boldEx);
}

/* - scrollbar - */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 #fff;
    transition: .25s;
}
::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    box-shadow: inset 6px 6px 0 var(--color-point);
}
::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
}

/* - components - */
.close-btn {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: none;
    position: relative;
    opacity: .65;
    transition: .25s ease-in-out;
}
.close-btn:hover {
    opacity: 1;
}
.close-btn::before {
    font-family: var(--font-icon);
    content: '\eb55';
    color: #fff;
}

/* ---------- layout ---------- */
img.bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.hidden {
    display: none !important;
}
.wrap {
    min-height: 100dvh;    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.main {
    width: 600px;
    max-width: 100%;
    height: 65dvh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.header,
.container,
.footer {
    border-radius: var(--border-radius);
    overflow: hidden;
}
.header {
    padding: 15px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    background-image: var(--color-gr);
}
.header h1 {
    color: #fff;
}
.header p {
    font-style: italic;
    color: #fff;
    opacity: .85;
}
.container {
    flex: 1;
    min-height: 150px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border: 1px solid #fff;
    padding: 20px 15px;
}
.todolist {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#todo-form input {
    text-align: center;
    background: rgba(255, 255, 255, .15);
    width: 100%;
    height: 45px;
    border-radius: 50px;
    padding: 0 15px;
    color: #fff;
    transition: .15s ease-in-out;
    border: 1px solid transparent;
}
#todo-form input:hover,
#todo-form input:focus {
    border-color: #fff;
}
#todo-form input::placeholder {
    color: #fff;
    font-size: var(--fs-xs);
}
.todolist > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    height: calc(100% - 45px - 15px);
    overflow-y: auto;
}
.todolist > ul > li {
    position: relative;
    padding-left: 28px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}
.todolist > ul > li::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 12px;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
}
.todolist > ul > li > span {
    color: #fff;
    width: calc(100% - 30px);
    text-align: justify;
} 
.footer {
    display: flex;
    padding: 0 15px;
    gap: 0 15px;
    flex-wrap: wrap;
}
.footer p {
    position: relative;
    color: #fff;
    padding-left: 20px;
}
.footer p::before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--font-icon);
    color: #fff;
}
.footer p.clock::before {
    content: '\fd30';
}
.footer p.weather::before {
    content: '\eb30';
}

#login-form {
    width: 360px;
    max-width: 80%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
#login-form input[type=text] {
    width: 100%;
    padding: 5px 10px;
    border-radius: 50px;
    background: transparent;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border: 1px solid #fff;
    text-align: center;
    height: 45px;
    transition: .15s ease-in-out;
    color: #fff;
}
#login-form input[type=text]::placeholder {
    color: #fff;
}
#login-form input[type=submit] {
    cursor: pointer;
    width: 100%;
    background: var(--color-gr);
    border: 0;
    padding: 5px 10px;
    height: 45px;
    color: #fff;
    font-weight: var(--fw-boldEx);
    border-radius: 50px;
    font-size: var(--fs-xs);
}